header{
    padding:30px;
    background-color: rgb(59, 38, 23);
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
a{
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
}