p{
    width:500px;
    height:400px;
    background-color: aqua;
    color:black
}
title{
    position:center;
    color:black;
    background-color: bisque;
    height:100px;
    width:100%
}
h1{
    color: blueviolet;
}
body{
    background-color: rgb(27, 25, 169);
    width:100%;
    height:200px;
    color: azure;
    position: relative;
    
    
}