.container{
    padding:50px;
text-align:center;
height:2000px;
}
h2{
    margin:40px;
}
.btn{
    width:130px;
}
.red{
    color:white;
    background-color:purple;
}
.green-color{
    color:white;
    background-color:green;
}
.blue{
    color:white;
    background-color:blue;
}