<div class="container">
  <h2>Structural Directives - ngIf</h2>
  <div class="row">
  <div class="col-md-12">
    <button class="btn btn-success" (click)="approve(true)">Approve</button>
    <button class="btn btn-danger" (click)="approve(false)">Reject</button>
  </div>
  <div class="col-md-12">
    <p *ngIf="isApproved">Your application has been approved</p>
    <P *ngIf="!isApproved">Sorry, your applicatin has been rejected</P>
  </div>
</div>
<hr>
<h2>Structural Derivatives - ngFor</h2>
<div class="row">
  <div class="col-md-12">
  <p *ngFor="let number of number; let i=index">
    {{i+1}}-{{number}}</p>  
  </div>
</div>
<hr>
<h2>Structural Derivatives - ngSwitch</h2>
<div class="row">
  <div class="col-md-12">
   <input type="number" name="luckynumber" [(ngModel)]="luckyNumber">
     </div>
     <div class="col-md-12" [ngSwitch]="luckyNumber">
      <p *ngSwitchCase="1">Strong</p>
      <p *ngSwitchCase="2">Weak</p>
      <p *ngSwitchCase="3">Intelligent</p>
      <p *ngSwitchCase="4">Brave</p>
      <p *ngSwitchDefault>Enter numbers from 1 to 5</p>

     </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <p *ngFor="let number of number; let i=index">
      <span *ngIf="(i+1)%2">{{i+1}}-{{number}}</span>
    </p>
  </div>
</div>
</div>
